---
import Layout from "../../layouts/Layout.astro";
import ProjectGridFr from "../../components/ProjectGridFr.jsx";
import "../../styles/projectCard.scss";
---

<Layout title="Projets">
  <main class="flex flex-col items-center px-4 w-full mx-auto">
    <section
      aria-labelledby="about-me"
      class="max-w-[1280px] lg:max-w-[1162px] mx-auto pb-6 px-4 sm:px-6 md:px-8"
    >
      <h1
        class="text-4xl font-bold text-black dark:text-white text-center md:mb-10 mb-8 animate-fade-in-down pt-10"
      >
        Mes projets
      </h1>

      <p
        class="text-base sm:text-lg leading-relaxed text-justify desktop-indent mobile-narrow mb-6 md:mb-8 text-black dark:text-white animate-fade-in animate-delay-200"
      >
        Vous trouverez ici une sélection de projets sur lesquels j'ai travaillé,
        allant de la recherche académique à mes expériences personnelles et
        professionnelles. Chacun reflète mon intérêt pour l'IA, la data et le
        développement logiciel. Dans la mesure du possible, j'ai inclus des
        liens vers des repositories pour que vous puissiez explorer mon
        travail plus en détail. Certains projets sont encore en développement,
        car je les améliore continuellement.
      </p>
    </section>
    <section
      class="max-w-[1280px] lg:max-w-[1162px] mx-auto px-4 sm:px-6 md:px-8 w-full"
    >
      <ProjectGridFr client:load />
    </section>
  </main>

  <style>
    @media (max-width: 1024px) {
      .desktop-indent {
        text-indent: 2em;
      }

      .mobile-narrow {
        margin-left: auto;
        margin-right: auto;
        line-height: 1.7;
      }
    }
    @media (min-width: 1025px) {
      .desktop-indent {
        text-indent: 4em;
      }
    }
  </style>
</Layout>
