.large-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: transparent;
  z-index: 0;
  pointer-events: none;
}

#demo-canvas {
  width: 100%;
  height: 100%;
}