---
const { title } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/my-website">Home</a>
        <a href="/my-website/cv">CV</a>
        <a href="/my-website/projects">Projects</a>
        <a href="/my-website/contact">About meee</a> 
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>