---
import Layout from "../layouts/Layout.astro";
--- 

<Layout title="Page not found" showNavbar={false}>
  <main class="flex flex-1 flex-col items-center justify-center text-center px-4"
        style="padding-top:110px;">
    <h1 class="animate-type text-white md:text-6xl md:pb-6">
      404 | Page not found
    </h1>
    <a href="/" class="back-button">
      Back to home page
    </a>
  </main>

  <style>
    .animate-type {
      margin-bottom: 40px;
      position: relative;
    }

    .animate-type::after {
      content: "";
      position: absolute;
      top: 0;
      right: -12px;
      width: 4px;
      height: 1em;
      background: #fff;
      animation: type 0.7s alternate infinite;
    }

    .animate-type::after {
      top: 0em;
      height: 1em;
    }


    @keyframes type {
      from { opacity: 1; }
      to { opacity: 0; }
    }

    @keyframes blink {
      to { visibility: hidden; }
    }

    .back-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 12px 24px;
      font-size: 1.25rem;
      font-weight: 500;
      color: #fff;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 8px;
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
      text-decoration: none;
      transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
      cursor: pointer;
      box-shadow: 
        0px 3px 6px rgba(0, 0, 0, 0.05),
        0px 8px 15px rgba(0, 0, 0, 0.1);
    }

    .back-button:hover {
      background-color: #fff;
      color: #000;
    }

    @media (max-width: 1024px) {
      .animate-type {
        font-size: 2rem;
        margin-bottom: 5px;
      }
      .animate-type::after {
        content: "";
        position: absolute;
        right: -8px;
        width: 2px;
        height: 1em;
        background: #fff;
        animation: type 0.7s alternate infinite;

        top: 50%;
        transform: translateY(-90%);
      }
      .back-button {
        padding: 10px 20px;
        font-size: 0.75rem;
      }
    }

    @media (max-width: 767px) {
      .animate-type {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      .animate-type::after {
        content: "";
        position: absolute;
        right: -8px;
        width: 2px;
        height: 1em;
        background: #fff;
        animation: type 0.7s alternate infinite;

        top: 50%;
        transform: translateY(-50%);
      }
      .back-button {
        padding: 10px 20px;
        font-size: 0.75rem;
      }
    }
  </style>
</Layout>