---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About me">
    <section class="flex flex-1 items-center justify-center text-center">
        <h1 class="text-4xl font-sans text-white">Coming soon...</h1>
    </section>
</Layout>