---
import Layout from '../components/layouts/Layout.astro';
---

<Layout>
    <h1>Contact Me</h1>
    <p>Feel free to connect with me through the following links:</p>
    <ul>
        Voilà mon CV vjdsg !
    </ul>
</Layout>