---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Maxence DEBES - Portfolio">
  <div class="flex flex-col lg:flex-row items-center justify-center w-full max-w-6xl mx-auto px-4 sm:px-6 md:px-8 lg:px-12 flex-1 gap-6 md:gap-20">

    <div class="flex flex-col items-center lg:items-start text-center lg:text-left lg:gap-0">
      <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold mb-4 text-white">
        Maxence DEBES
      </h1>
      <p class="text-xl sm:text-2xl md:text-3xl text-white">
        Student passionate about <span class="text-pink-400">IA</span> and <span class="text-pink-400">Data Science</span>
      </p>
    </div>

    <div class="flex justify-center items-center mt-4 lg:mt-0">
      <img
        src="/me.jpg"
        alt="Photo de Maxence DEBES"
        class="w-40 sm:w-50 md:w-60 lg:w-72 aspect-square rounded-full object-cover border-2 border-white"
      />
    </div>

  </div>
</Layout>
