---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Accueil">
  <section class="text-center mt-20">
    <h1 class="text-4xl font-bold text-white-900">Maxence DEBES</h1>
    <p class="mt-4 text-lg text-white-600">
      Student passioned about AI and data science
    </p>
  </section>
</Layout>