---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.jsx";
import "../styles/projectCard.scss";
---

<Layout title="Projects">
  <main class="flex flex-col items-center gap-10 px-4 w-full">
    <h1 class="text-4xl font-bold text-white mb-10 text-center">My projects</h1>

    <div class="flex flex-col items-center w-full md:max-w-xl">
      <ProjectCard
        client:load
        title="My portfolio"
        description="Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested. Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested.Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested.Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested.Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested."
        imageUrl={"astro-icon-light-gradient.png"}
      />
    </div>

    <div class="flex flex-col items-center gap-16 w-full md:max-w-xl">
      <ProjectCard
        client:load
        title="My portfolio"
        description="Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested. Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested.Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested.Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested.Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested."
        imageUrl={"neural-network-icon.svg"}
      />
    </div>

    <div class="flex flex-col items-center gap-16 w-full md:max-w-xl">
      <ProjectCard
        client:load
        title="My portfolio"
        description="Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested. Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested.Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested.Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested.Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested."
        imageUrl={"me.jpg"}
      />
    </div>

    <div class="flex flex-col items-center w-full md:max-w-xl">
      <ProjectCard
        client:load
        title="My portfolio"
        description="Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested. Standard chunk of Lorem Ipsum used since the 1500s is showed below for ceux intéressés.Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested.Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested.Standard chunk of Lorem Ipsum used since the 1500s is showed below for those interested."
        imageUrl={"astro-icon-light-gradient.png"}
      />
    </div>
  </main>
</Layout>