<nav class="flex justify-between items-center p-6">
  <ul class="flex gap-6 text-black">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About me</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>