---
import Navbar from "../components/Navbar.jsx";
import Footer from "../components/Footer.jsx";
import AnimatedBackground from "../components/AnimatedBackground.jsx";
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";

const { title, showNavbar = true } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" href="/Neural_network_black.svg" type="image/svg" />
    <ClientRouter />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script is:inline>
      const getTheme = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      };
      const theme = getTheme();
      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
      window.localStorage.setItem("theme", theme);

      document.addEventListener("astro:after-swap", () => {
        const theme = getTheme();
        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      });
    </script>

    <style>
      :root {
        --nav-h: 70px;
      }

      html {
        font-family: "Poppins", sans-serif;
        overflow-x: hidden;
      }

      #footer-wrapper {
        width: 100%;
        pointer-events: auto;
      }

      main.transition-container {
        position: relative;
        z-index: 10;
        box-sizing: border-box;
      }

      html::view-transition {
        background-color: #ffffff;
      }

      :global(.dark) html::view-transition {
        background-color: #000000;
      }

      main.transition-container.no-navbar {
        padding-top: 0;
      }

      @media (max-width: 768px) {
        #navbar-wrapper {
          height: var(--nav-h);
        }

        #footer-wrapper {
          padding-top: 10px;
        }
      }
    </style>
  </head>
  <body class="flex flex-col min-h-screen">
    <AnimatedBackground client:only="react" />
    {
      showNavbar && (
        <div id="navbar-wrapper">
          <Navbar client:load />
        </div>
      )
    }
    <div class="h-[58px] w-full"></div>
    <main
      class={`transition-container flex-1 flex flex-col ${!showNavbar ? "no-navbar" : ""}`}
    >
      <slot />
    </main>
    <div id="footer-wrapper"><Footer client:load /></div>
  </body>
</html>
